#downloadButton {
  background-color: black;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
  margin-top: 15px;
  /* margin-right: 430px; */
  border-radius: 8px;
  /* align-self: flex-end; */
  /* margin-bottom: -60px; */
  box-shadow: inset -1px 0px 5px 0px white, inset 1px 0px 5px 0px white;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}

#downloadButton:hover {
  background-color: white;
  color: black;
  filter: drop-shadow(0px 0px 8px white);
}

.resume-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px 20px 20px 10px;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  box-shadow: inset -1px 0px 5px 0px white, inset 1px 0px 5px 0px white;
  border-radius: 10px;
  max-width: 700px;
  margin: 20px 0 20px 20px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-decoration: white underline;
  margin-bottom: 20px;
}

#proficiencies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* #card:hover {
  filter: drop-shadow(0px 0px 3px white);
} */

.decor {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
  /* flex: 1 1 45%; */
}

.decor li::before {
  content: "\1F47E";
  margin-right: 10px;
}

.decor li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  #card {
    margin: 20px 0;
  }

  .resume-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 90px;
  }

  #downloadButton {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #downloadButton:hover {
    filter: drop-shadow(0px 0px 8px white);
  }
}

@media screen and (max-width: 600px) {
  .resume-container {
    margin-left: 50px;
  }

  #card {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .decor {
    padding: 10px;
    font-size: 16px;
    flex-direction: column;
    flex: 1 1 100%;
  }
}
